/* =======================================
   EFFECTS
   Event based and non event based border, 
   background, and text color effects
   ======================================= */

@import "@superflycss/variables-colors";
@each $event in active, focus, disabled, visited, hover {
  @each $color in sf-neon-mustard, sf-soft-white, sf-tomato-red, sf-purple-pink, sf-light-orange-red, sf-silver-grey, alice-blue, antique-white, aqua, aqua-marine, azure, beige, bisque, black, blanched-almond, blue, blue-violet, brown, burly-wood, cadet-blue, chartreuse, chocolate, coral, corn-flower-blue, cornsilk, crimson, cyan, dark-blue, dark-cyan, dark-golden-rod, dark-gray, dark-green, dark-khaki, dark-magenta, dark-olive-green, dark-orange, dark-orchid, dark-red, dark-salmon, dark-sea-green, dark-slate-blue, dark-slate-gray, dark-turquoise, dark-violet, deep-pink, deep-sky-blue, dim-gray, dodger-blue, fire-brick, floral-white, forest-green, fuchsia, gainsboro, ghost-white, gold, golden-rod, gray, green, green-yellow, honey-dew, hot-pink, indian-red, indigo, ivory, khaki, lavender, lavender-blush, lawn-green, lemon-chiffon, light-blue, light-coral, light-cyan, light-goldenrod-yellow, light-gray, light-green, light-pink, light-salmon, light-sea-green, light-sky-blue, light-slate-gray, light-steel-blue, light-yellow, lime, lime-green, linen, magenta, maroon, medium-aquamarine, medium-blue, medium-orchid, medium-purple, medium-sea-green, medium-slate-blue, medium-spring-green, medium-turquoise, medium-violet-red, midnight-blue, mint-cream, misty-rose, moccasin, navajo-white, navy, old-lace, olive, olive-drab, orange, orange-red, orchid, pale-golden-rod, pale-green, pale-turquoise, pale-violet-red, papaya-whip, peach-puff, peru, pink, plum, powder-blue, purple, red, rosy-brown, royal-blue, saddle-brown, salmon, sandy-brown, sea-green, sea-shell, sienna, silver, sky-blue, slate-blue, slate-gray, snow, spring-green, steel-blue, tan, teal, thistle, tomato, turquoise, violet, wheat, white, white-smoke, yellow, yellow-green {
    :root {
      --u-on-$(event)-text-color-$(color) {
        color: var(--color-$(color)) !important;
      }
    }
    .u-on-$(event)-text-color-$(color):$(event) {
      @apply(--u-on-$(event)-text-color-$(color));
    }
    :root {
      --u-on-$(event)-background-color-$(color) {
        background-color: var(--color-$(color)) !important;
      }
    }
    .u-on-$(event)-background-color-$(color):$(event) {
      @apply(--u-on-$(event)-background-color-$(color));
    }
    :root {
      --u-on-$(event)-border-color-$(color) {
        border-color: var(--color-$(color)) !important;
      }
    }
    .u-on-$(event)-border-color-$(color):$(event) {
      @apply(--u-on-$(event)-border-color-$(color));
    }
  }
}

@for $percentage from 0 to 100 {
  :root {
    --u-background-lighten-$(percentage) {
      background: linear-gradient( rgba(255, 255, 255, calc($(percentage)/100)), rgba(255, 255, 255, calc($(percentage)/100))) !important;
    }
    --u-background-darken-$(percentage) {
      background: linear-gradient( rgba(0, 0, 0, calc($(percentage)/100)), rgba(0, 0, 0, calc($(percentage)/100))) !important;
    }
    --u-border-darken-$(percentage) {
      border-image: linear-gradient( to bottom, rgba(0, 0, 0, calc($(percentage)/100)), rgba(0, 0, 0, calc($(percentage)/100)), rgba(0, 0, 0, calc($(percentage)/100))) !important;
    }
    --u-border-lighten-$(percentage) {
      border-image: linear-gradient( to bottom, rgba(255, 255, 255, calc($(percentage)/100)), rgba(255, 255, 255, calc($(percentage)/100)), rgba(255, 255, 255, calc($(percentage)/100))) !important;
    }
  }
  .u-background-lighten-$(percentage) {
    @apply(--u-background-lighten-$(percentage));
  }
  .u-background-darken-$(percentage) {
    @apply(--u-background-darken-$(percentage));
  }
  .u-border-darken-$(percentage) {
    @apply(--u-border-darken-$(percentage));
  }
  .u-border-lighten-$(percentage) {
    @apply(--u-border-lighten-$(percentage));
  }
}

@each $event in active, focus, disabled, visited, hover {
  @for $a from 0 to 9 {
    @for $b from 0 to 9 {
      @for $c from 0 to 9 {
        :root {
          --u-on-$(event)-background-color-$(a)$(b)$(c) {
            background-color: #$(a)$(b)$(c) !important;
          }
          --u-on-$(event)-border-color-$(a)$(b)$(c) {
            border-color: #$(a)$(b)$(c) !important;
          }
          --u-on-$(event)-text-color-$(a)$(b)$(c) {
            background-color: #$(a)$(b)$(c) !important;
          }
        }
        .u-on-$(event)-background-color-$(a)$(b)$(c):$(event) {
          background-color: var(--color-$(a)$(b)$(c)) !important;
        }
        .u-on-$(event)-text-color-$(a)$(b)$(c):$(event) {
          color: var(--color-$(a)$(b)$(c)) !important;
        }
        .u-on-$(event)-border-color-$(a)$(b)$(c):$(event) {
          border-color: var(--color-$(a)$(b)$(c)) !important;
        }
      }
    }
  }
}